body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #011f3f;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #fef2bf;
    font-family: "Press Start 2P", system-ui;
    margin: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.square {
    max-width: 200px;
    max-height: 200px;
    width: 40vw;
    height: 40vw;
    margin: 17px;
    border-radius: 20%;
    border-width: 10px;
    border-style: solid;
}

@media screen and (max-width: 375px) {
    h1 {
    font-size: 2rem;
}

    .game-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .square {
        margin: 0px;
        padding: 0px;
        width: 30vw;
        height: 30vw;
    }
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #008000;
}

.blue {
    background-color: #0000ff;
}

.yellow {
    background-color: #ffff00;
}

.wrong {
    background-color: #ff0000;
}

.clicked {
    /* glowing effect */
    box-shadow: 0 0 20px #0ff;
    /* outer glow */
}